/* color variables */
:root {
    --lightgray: rgba(246, 246, 246, 1);
    --white: rgba(255, 255, 255, 1);
    --header-background: rgba(49, 97, 225, 1);
    --footer-background: rgba(35, 39, 42, 1);
    --lilac: rgba(144, 161, 220, 1);
}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: calc(100% / 3 * 2);
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

/* HEADER */
header {
    background-image: url(../images/jumbo.png);
    background-size: cover;
    height: 30rem;
}

nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: var(--white);
    color: var(--footer-background);
    border-radius: 1.3rem;
    padding: 0.65rem 0.75rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

header nav li a {
    text-decoration: none;
    padding-right: 2rem;
    color: var(--white);
}

.head-text {
    width: 40%;
    margin: 0 auto;
    padding-top: 2rem;
    color: var(--white);
    text-align: center;
}

.head-text > p {
    padding: 2.5rem 0 2rem 0;
}

.download-section {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    width: 70%;
}

.download-section > a {
    background-color: var(--footer-background);
    color: var(--white);
    border-radius: 3rem;
    padding: 1rem 1.5rem;
}

.download-section a:first-child {
    background: var(--white);
    color: var(--footer-background);
    font-weight: bold;
    margin-right: 1rem;
}

/* MAIN */

/* main's sections color backgrounds */
section.white {
    background-color: var(--white);
    padding-top: 3rem;
}

section.grey {
    background-color: var(--lightgray);
    padding-top: 3rem;
}

/* wave effect in main's sections */
.wave svg {
    fill: var(--lightgray);
    display: block;
} 

.wave-rotated svg {
    fill: var(--lightgray);
    display: block;
    transform: rotate(180deg);
}

/* main's section column division */
.col-bigger {
    width: 70%;
}

.col-smaller {
    width: 30%;
    padding-top: 2.3rem;
    text-align: left;
}

/* main's sections text */
.text-section {
    text-align: left;
}

/* call to action's (end of section 4) layout */
.invitation {
    background-image: url(../images/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35%;
    margin: auto;
    padding: 1rem 0 5rem 0;
    text-align: center;
}

/* call to action's button layout */
.invitation > a {
    color: var(--white);
    background-color: rgba(144, 161, 220, 1);
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
}

/* call to action's margins */
.invitation h3 {
    margin: 3rem 0 2rem 0;
}

/* FOOTER */

/* footer general layout */
footer {
    background-color: var(--footer-background);
    height: 35rem;
    color: var(--white);
    padding: 3rem 0 1rem 0;
}

/* lilac words in footer section */
footer h3, footer ul > li:first-child {
    color: var(--lilac);
}

/* margin bottoms in footer's lists */
footer li, footer h3 {
    margin-bottom: 1rem;
}

/* footer top section anchors' text color */
.footer-top a {
    color: var(--white);
}

/* .select-language section margin bottom */
.select-language {
    margin-bottom: 1rem;
}

.footer-top {
    margin-bottom: 1.5rem;
}

/* footer top section layout */
.footer-bottom {
    border-top: 0.01rem solid var(--white);
    padding-top: 1.5rem;
}

/* italian flag layout */
.flag {
    height: 1rem;
    vertical-align: middle;
}

/* footer bottom section color laout */
.btn-bottom {
    color: var(--white);
    background-color: var(--lilac);
}